<section>
  <h1>Test ejs</h1>
  <p> <%= ejsTest %> </p>
  <p> <%= thisTest %> </p>
  <div>
    <% itemList.foreach(i =>{
      <%- include("../components/listItem.ejs", {i.itemName, i.itemCal100}) %>
    <% }) %>
  </div>
</section>