<section>
  <h1>Test ejs</h1>
  <p><%= ejsTest %></p>
  <p><%= thisTest %></p>
  <div>
    <% itemList.forEach((i) => { %>
      <%- include('../components/listItem.ejs', { itemName: i.itemName, itemCal100: i.itemCal100 }) %>
    <% }) %>
  </div>
</section>