<section class="grid grid-cols-2 gap-2.5 border-2">
    <% gridItemList.forEach(item => {%>
        <%- include('../components/listItem.ejs', {name: item.name, calocent: item.calocent}) %>
    <%});%>
</section>