<nav class="navbar navbar-neutral bg-base-200">
    <p class="navbar-start"></p>
    <h1 class="navbar-center font-bold text-4xl">Dashboard</h1>
    <div class="navbar-end flex gap-2.5">
        <p>Admin</p>
        <img src="/public/Avatar.png" class="h-16 aspect-square"/>
    </div>
</nav>