<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title><%= title || 'Error title' %></title>
  <link rel="stylesheet" href="/public/tailwind.css">
  <%- include('../partials/head') %>
</head>
<body class="flex flex-col bg-base-100">
  <%- include('../partials/header') %>
  <main class="mx-auto w-full max-w-screen-2xl px-4 md:px-6 lg:px-8 py-6">
    <%- include(page, locals) %>
    </main>
  </body>
  </html>